.right-gambar img {
  float:left;
  height: 150px;
  width:30%;
}
.identitas{
 img
}
.identitas img{
  height: 150px;
  padding: 0;
  text-align: left;
}
.question-container {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 2%;
}
.question {
  margin: 10px 5px 10px 5px;
}
