body, ol, li, a {margin: 0; padding:  0;}
body{
  background-color: #f7f7f7;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303F9F;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #3F51B5;
}
.active{background-color: #C5CAE9;}

.header img{
  display: block;
  height: 150px;
  padding: 14px;
  text-align: center;
}

.header-2{
  float: right;
  height: 230px;
  width:50%;
  padding: 0;
  background-color: #757575;
}
.header-2 p {
  padding: 20px;
  margin: 15px;
  color: #ffffff;
}
.header-2 ul{
  padding: 0;
  margin: 30px;
  color: #ffffff;
}
.header-1{
  float:left;
  height: 230px;
  width:50%;
  background-color: #03A9F4;
}
.video{
  text-align: center;
}
.regist-form form {
  text-align: center;
  width: 760;
  float: center;
}
td, th{
  text-align: left;
  width: 180px;
}

.button {
	background-color:#3b3bc7;
	border-radius:28px;
	border:1px solid #0fbdbd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:14px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background-color:#0e43f0;
}
.button:active {
	position:relative;
	top:1px;
}
.container{
  text-align: center;
}
