.container{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width:50%;
  /* border-color: black; */
}
table tr td{
  height: 60px;
  text-align: left;
}
